body{
    background-image: url(Фон.jpg);
}

button{
    width: 150px;
    height: 50px;
    margin-left: 50px;
    background-color: #FDFFAB;
    font-family: 'Piazzolla', serif;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #f9fc5c;
    font-size: 27px;
}

table{
    position: absolute;
    background-color: #FBE8D3;
    height: 500px;
    width: 100%; 
    font-family: 'Piazzolla', serif;
}

caption{
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Piazzolla', serif;
    font-weight: 700;
    color: #ffffff;
}

ul{
    font-size: 20px;
}

b{
    font-size: 25px;
}

img{
    padding: 10px;
}