 .clearfix {
     display: block;
     clear: both;
 }

 h1 {
     text-align: center;
     font-size: 32px;
     margin: 50px 0 40px 0;
 }
 
 body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #222;
 }

.site-header {
    min-height: 290px;
    background: url('../images/header.jpg');
    background-size: cover;
    background-position: 50% 30%;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.container1{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1px;
}

main {

}

.question {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.answer {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.answer li {
    background: #f1f1f1;
    margin: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.answer li:hover {
    background: #cecece;
    font-weight: bold;
}

.answer li:active{
    background: #8b8b8b
}

.result {
    padding: 30px 0;
    font-size: 18px;
    line-height: 150%;
}

.result-img {
    max-width: 600px;
    display: block;
    margin: 10px auto;
    width: 100%;
    height: auto;
}

.reload-button {
    display: block;
    margin: 20px auto;
    background: #c0c0c0;
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    min-width: 200px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.reload-button:hover {
    background: #acacac;
}

.block-cover {
    
    padding: 10px;
    text-align: center;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    transition: all ease 1s;
}

a .block-cover {
    text-decoration: none;
}

a .block-cover:hover {
    background: #e0e0e0;
}

.block-cover img{
    max-width: 100%;
}

.block-25 {
    float: left;
    width: 33.333%;
}

.block-25 a {
    text-decoration: none;
}

.footer-ul {
    padding: 40px;
}

footer {
    border-top: 1px solid #333;
    margin: 50px  0;
    /* padding-top: 40px; */
}

footer h2 {
    font-size: 20px;
    margin: 30px 0 ;
}

.header{
    /*overflow: hidden; /*элементы, выходящие за хедер, не создадут боковую прокрутку*/
  
    width: 100%;
    height: auto;
  
    position: fixed; /*!!!!!!!*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  
    background-color: #f7e9e2; /*#ffdacd #f7e9e2 */
    font-family: 'EB Garamond', serif;
  }
  
  .container{
    width: 85%;
    margin: 0 auto;
  }
  
  .header__inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  .header__logo{
    width: 5%;
    height: auto;
  }
  
  .nav{
    display: flex;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    top: 5px;
  }
  
  .nav__link{
    vertical-align: top;
    margin-left: 50px;
  
    color: #333;
    text-decoration: none;
    transition: color .2s linear;
    font-family: 'EB Garamond', serif;
  }
  
  .nav__link:hover{
    color:#ff7474;
  }


  .menu-icon{
    z-index: 19;
  
    display: none;
  
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .menu-icon-line{
  
    position: absolute;
    width: 5vw;
    height: 0.5vw;
    background-color: #333;
  
    transition: background-color 0.4s ease-in;
  }
  
  .menu-icon-line::before{
    position: absolute;
    content: '';
  
    top: -1.2vw;
  
    left: 0;
  
    width: 5vw;
    height: 0.5vw;
    background-color: #333;
  
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
   }
  .menu-icon-line::after{
    position: absolute;
    content: '';
  
    top: 1.2vw;
    left: 0;
  
    width: 5vw;
    height: 0.5vw;
    background-color: #333;
  
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
   }
  
  .menu-icon.menu-icon-active .menu-icon-line{
    background-color: transparent;
  }
  
  .menu-icon.menu-icon-active .menu-icon-line::before{
    transform: rotate(45deg);
    top: 0;
  
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  
  .menu-icon.menu-icon-active .menu-icon-line::after{
    transform: rotate(-45deg);
    top: 0;
  
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  
  /*............................навигация для мобильников..........................*/
  .mobile_nav{
    z-index: 9;
    display: block;
    position: absolute; /*в хедере не прописан position: relative; все баги с меню могут быть из-за этого*/
    right: -60%;
    top: 0;
    height: auto; /*!!!!!*/
    width: 55%;
    background-color: rgba(247, 233, 226, 0.9);
    padding-left: 5%;
  
    transition: transform 0.3s linear;
  }
  
  .mobile_nav_active{
    transform: translateX(-100%);
  }
  
  .mobile_nav_title{
    font-size: 7vw;
    font-weight: 600;
  }
  
  .mobile_nav_list{
    list-style-type: none;
    margin: 0;
    padding: 0 0 8% 0;
  
  }
  .mobile_nav_item{
    margin-top: 5%;/*!!!!!*/
  
  }
  
  .mobile_nav__link{
    color: #333;
    text-decoration: none;
    font-size: 6vh;/*!!!!!*/
  
    transition: color .2s linear;
  }
  
  .mobile_nav__link:hover{
  color:#ff7474;
  }
  
  /*==============================================================================
  
                                    МЕДИА
  
  ================================================================================*/
  @media (max-width: 1160px){
  
      *{
        box-sizing: border-box;
       }
       .header__logo{
         width: 10%;
         height: auto;
       }
      .nav{
        display: none; /*скрываем слова навигации*/
      }
      .menu-icon{
        display: flex;
        justify-content: center;
        align-items: center;
  
      }