body{
    background: linear-gradient(#DEFCF9, #BAD7DF);
}

.form1{
    display: block;
    width: 350px;
    margin: 0 auto 40px;
}

.form2{
    background: url(CatAndDog.jpg) center center no-repeat;
    background-size: cover;
    width: 400px;
    margin: 0 auto;
    padding: 15px 0 20px 20px;
    position: relative;
}

p{
    color: #ffffff;
    font-size: 20px;
}

textarea{
    width: 345px;
    height: 50px;
}

.pet{
    font-size: 17px;
    color: #ffffff;
}

.form2 [type="submit"]{
    background-color: #BAD7DF;
    border: 1px solid #ffffff;
    font-size: 18px;
    color: #333333;
    display: block;
    margin: 0 auto;
}

textarea{
    resize: none;
}


