body{
    background-color: #C9D6DF;
}

.images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    padding: 10px;
    background: #f1d5a7 ;
    margin-top: 15px;
}

.text{
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

a{
    text-decoration: none;
    color: #333333;
}

a:hover{
    color: #4c6088;
    font-size: 32px;
    text-shadow: 1px 1px 1px black;
}

img:hover{
    box-shadow: 1px 1px 60px #f8c60f;
}
